#head1{
    text-align: center;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav1{
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 5px;
}
#nav1 a{
    text-decoration: none;
    color: inherit;
    font-family:'Times New Roman', Times, serif;
}
#nav1 a:hover{
    color: white;
    background-color: black;
}
#spider{
    width: 1400px;
    height: 500px;
    padding: 50px;
}
#p1{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#foot{
    text-align: center;
    padding: 100px;
}
#foot a{
    text-decoration: none;
    color:red;
}
#bird{
    height:500px;
    width:1200px;
}
#head2{
    text-align:center;
    font-size:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}