/*Targets h1 headings*/
h1 {
    text-align: center;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}
/*targets h2 heading*/
h2{
    text-align:center;
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
    padding:50px;
    margin:-35px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
}
/*class attribute that targets the navigation bar*/
.nav1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 20px;
    background-color:black;
    color:white;
    display:flex;
    margin:-35px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width:100%;

}
/* this makes changes to the anchor links on the navigation bar*/
.nav1 a {
    text-decoration: none;
    color: inherit;
    font-family:'Times New Roman', Times, serif;
}
/* this will make changes to the anchor tag when the mouse hovers over it*/
.nav1 a:hover {
    color: black;
    background-color:white;
    text-decoration:underline;
}
/*This identifier will target and make changes to the spider image(peru-nazca-lines-spider.jpg)*/
#spider {
    width: 1400px;
    height: 500px;
    margin:36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width:100%;
}
/*class attribute used for more than one element*/
.p1 {
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*makes changes to any element given the class p2*/
.p2{
    text-align: left;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*footer of webpages*/
.foot {
    text-align: center;
    padding: 25px;
    margin:-2px;
    font-size:20px;
    background-color:black;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*changes made when a anchor tag is hovered over on the footer*/
.foot a:hover{
    background-color:white;
    color:red;
}
/*changes color to red in first footer link and sets size and padding*/
.link1{
    padding:10px;
    color:red;
    font-size:25px;
}
/*changes padding and fontsize of the second link in the footer*/
.link2{
    padding:10px;
    font-size:25px;
}
/*makes changes to the cat image on history page(nazca-cat2.jpg)*/
#cat {
    width:1400px;
    height:500px;
    margin:36px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width:100%;
}
/*identifier that targets and changes text properties*/
#paragraph1 {
    padding:10px;
    font-size:20px;
    grid-area: box3;
    display:flex;
    flex-direction: column;
    justify-items: left;
    align-items: left;
    height:50%;
}
/* another identifier that targets and changes text properties*/
#paragraph2{
    padding:8px;
    font-size:20px;
    grid-area: box4;
    display:flex;
    flex-direction: column;
    justify-items: right;
    align-items: right;
    height:50%;
}
/*makes changes using a class attribute for list items in facts html page*/
.factp{
    font-size:10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/**/
#head2 {
    text-align:center;
}
.pagehd{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*class element for making changes to multiple paragraph elements in facts webpage*/
.paragraph{
    text-align: left;
    font-size:10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*indetifier for organised list in facts webpage*/
#organised{
    text-align:center;
    font-size:20px;
    padding:2px;

}
/*indentifier used for div containing 3 images in index webpage*/
#design{
    height:500px;
    width:450px;
    display:grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 1500px; 
    grid-template-areas: "image1 image2 image3";
}
/*changes properties of first image in the div of index webpage*/
#imgsizing1{
    height:500px;
    width:450px;
    grid-area: image1;
    display:flex;
    flex-direction:column;
    justify-content: left;
    align-items: left;
    height:33%;
}
/*changes properties of second image in the div of index webpage*/
#imgsizing2{
    height:500px;
    width:450px;
    grid-area: image2;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:33%;
}
/*changes properties of third image in the div of index webpage*/
#imgsizing3{
    height:500px;
    width:450px;
    grid-area: image3;
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    height:33%;
}
/*changes alignment and and size of font on the h2 headings in facts webpage*/
.factsh2{
    text-align: left;
    font-size: 30px;
}
/*identifier used for grid of the embedded video on history webpage*/
#viddiv{
    display:grid;
    grid-template-columns: 800px 40px 250px 250px;
    grid-template-rows: 500px;
    grid-template-areas: "box1 box2 box3 box4";
}
/*aligns the video on the webpage */
#alignvid{
    padding:30px;
    grid-area: box1;
    display:flex;
    flex-direction: column;
    justify-items: left;
    align-items: left;
    height:80%;

}
/*changes properties of the bird image on history page(Nazca-lines.jpg)*/
#bird{
    width:1400px;
    height:500px;
    margin:36px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width:100%;
}
/*tree image used on conspiracy webpage*/
#tree{
    width:1400px;
    height:500px;
    margin:36px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width:100%;
}
/*grid used for #m1 text and #cog image */
#mysterygrid{
    display:grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 550px;
    grid-template-areas: "mg1 mg2";

}
/*text on conspiracy page*/
#m1{
    font-size: 15px;
    grid-area: mg1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
/*image(chariot.jpeg) on conspiracy page*/
#cog{
    grid-area: mg2;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80%;

}

@media screen and(min-width: 350px){
    #design{
        height:500px;
        width:10%;
        display:flex;
        flex-direction: row;

    }
}

@media screen and (max-width: 500px){
   .nav1{
       font-size:10px;
       display:flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       max-width:100%;
   }
   .p1{
       display:flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
   }
   #design{
       display:grid;
       grid-template-columns: 100%;
       grid-template-rows: 40% 40% 40% 20%;
       grid-template-areas: "resize1" 
                            "resize2" 
                            "resize3"
                            "resize4";
   }
   #imgsizing1{
       height:100%;
       grid-area: resize1;
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   #imgsizing2{
       height:100%;
       grid-area: resize2;
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   #imgsizing3{
       height:50%;
       grid-area: resize3;
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .foot{
       font-size:10px;
       display:flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       width:100%;
   }
   #mysterygrid{
    display:grid;
    grid-template-columns: 80%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "bk1" 
                        "bk2";

}
#m1{
    font-size:10px;
    grid-area:bk1;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height:20%;
}
#cog{
    grid-area:bk2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80%;
}
#viddiv{
    display:grid;
    grid-template-columns: 60%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "mp41"
                         "mp42"
                         "mp43";
}
#alignvid{
    grid-area:mp42;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:80%;
}
#paragraph1{
    font-size:10px;
    grid-area:mp41;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height:80%;
}
#paragraph2{
    font-size:10px;
    grid-area:mp43;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height:80%;
}

@media screen and(max-width: 350px){
    #spider{
        display:flex;
        justify-content: center;
        align-items: center;
        max-width:100%;
    }
    .nav1{
        display:flex;
        justify-content: center;
        align-items: center;
        max-width:50%;
    }
    #design{
        height:500px;
        width:450px;
        display:grid;
        grid-template-columns: 500px;
        grid-template-rows: 500px 500px 500px; 
        grid-template-areas: "resize1 resize2 resize3";
    }
    #imgsizing1{
        grid-area: resize1;
    }
    #imgsizing2{
        grid-area: resize2;
    }
    #imgsizing3{
        grid-area: resize3;
    }

}